---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Projects from "../components/Projects";



---


<Layout title="all projects">
    <main>
        <Navbar client:load />
        <Projects />
    </main>

</Layout>