---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar'
import Hero from '../components/Hero.astro';
import CardOne from '../components/CardOne';
---
<Navbar client:load />

<Layout title="Fer Pastor Dev.">
	<main>
		<Hero />
		<CardOne />
	</main>
	
</Layout>
