---
import '../../public/headingNowFonts/HeadingNowTrial-25Medium.ttf'
---


<div id="about" class="about container w-80 mx-auto mt-8 mb-20 lg:w-3/4">
    <div class="about-title flex justify-center mt-5 mb-5">
        <h3 class="text-3xl text-orange-400 customfont">
            About me
        </h3>
    </div>

    <div class="image flex flex-wrap lg:flex lg:w-1/3 lg:pt-10 lg:justify-around">
        <img class="about-me mb-8 lg:mr-8"src="/public/about-me-img.jpeg" alt="Profile Picture"/>
        <p class="text-white customfont lg:w-2/3">Hi, I'm Fernando Pastor! 
            A frontend developer passionate about creating web applications and interactive experiences.
            I'm currently working freelance and doing personal projects that allow me to advance my learning.
        </p>
    </div>
    

</div>





<style>

    .customfont {
        font-family: 'montserrat', sans-serif;
      }

</style>