---
import ContactIcons from './ContactIcons.astro';
import '../../public/headingNowFonts/HeadingNowTrial-25Medium.ttf'
---


<div class="contact block justify-center w-96 mx-auto">\

    <div class="title pt-2 w-96">
        <h2 class=" mx-auto text-xl text-orange-400 customfont">Contac me</h2>
    </div>

    <div class="container-icons flex flex-wrap justify-center gap-x-5 mx-auto w-96">
        <ContactIcons />
    </div>


</div>

























<style>

@font-face {
    font-family: 'montserrat';
    src: url('../../public/montserratFonts/Montserrat-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
  }

  .customfont {
    font-family: 'montserrat', sans-serif;
  }




</style>
