---
import '../../public/headingNowFonts/HeadingNowTrial-25Medium.ttf'
---

<div class="footer container flex flex-wrap justify-center mt-6 customfont ">
    <h3 class="text-white">Fer Pastor dev 2024, todos los derechos reservados</h3>
</div>