---

import '../../public/headingNowFonts/HeadingNowTrial-25Medium.ttf'

---


<div id="skills" class="skills container w-80 mx-auto mt-8 lg:w-3/4">

    <div class="skills-title flex justify-center mb-5">
        <h1 class="text-3xl text-orange-400 customfont">Skills</h1>
    </div>

    <div class="icons flex flex-wrap justify-between p-2 lg:flex lg:flex-wrap">
        <div class="html p-2">
            <img src="/public/Html5Icon.svg" alt="logo de Html5">
        </div>

        <div class="css p-2">
            <img src="/public/Css3Icon.svg" alt="logo de Css3">
        </div>

        <div class="JavaScript p-2">
            <img src="/public/JavascriptIcon.svg" alt="logo de JavaScript">
        </div>

        <div class="React p-2">
            <img src="/public/ReactIcon.svg" alt="logo de React">
        </div>

        <div class="Tailwind p-2">
            <img src="/public/TailwindIcon.svg" alt="logo de Tailwind">
        </div>

        <div class="Bootstrap p-2">
            <img src="/public/BootstrapIcon.svg" alt="logo de Bootstrap">
        </div>
        
        <div class="Git p-2">
            <img src="/public/GitIcon.svg" alt="logo de Git">
        </div>

        <div class="Github p-2">
            <img src="/public/GithubIcon.svg" alt="logo de Github">
        </div>

        <div class="MongoDb p-2">
            <img src="/public/MongoDbIcon.svg" alt="logo de MongoDB">
        </div>

        <div class="Astro p-2">
            <img src="/public/AstroIcon.svg" alt="logo de Astro">
        </div>
    </div>

</div>

<style>

.customfont {
    font-family: 'montserrat', sans-serif;
  }

  .Github img {
    fill: white;
  }

</style>