---
import Navbar from '../components/Navbar';
import Projects from '../components/Projects';
import CardFour from '../components/CardFour';
import { ViewTransitions } from 'astro:transitions';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.x.x/dist/alpine.js" defer></script>
		<title>{title}</title>
        <ViewTransitions />
	</head>

	<body class="pb-20">

		<Navbar client:load />
        <Projects />
        <CardFour />
		<main>
            <slot />
		</main>
        <div>
        <a class="text-green-300 flex justify-center mt-10" href="/#home">
            <h2>Menú principal</h2>
        </a>
        </div>
		<Contact />
		<Footer / >
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
        
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	
    .ver-mas{
        display: none;
    }
    .title {
        padding-top: 6rem;
    }

    #projects {
        margin-top: 0;
    }

    
</style>
